
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');


h1 {
    font-family: 'Nanum Gothic Coding', monospace;
}

#html{
    padding-top: 2vh;
    height: 400px;
}

#css{
    padding-top: 2vh;
    height: 400px;
}

#java{
    padding-top: 2vh;
    height: 400px;
}
.card-title {
    text-align: center;
}
.card-subtitle {
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.products img {
    width: 100%;
}

.product {
    padding: 5px;
}

