
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');


h1 {
    font-family: 'Nanum Gothic Coding', monospace;
}

#html{
    padding-top: 2vh;
    height: 400px;
}

#css{
    padding-top: 2vh;
    height: 400px;
}

#java{
    padding-top: 2vh;
    height: 400px;
}
.card-title {
    text-align: center;
}
.card-subtitle {
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.products img {
    width: 100%;
}

.product {
    padding: 5px;
}

#content-btn {
    background-image: linear-gradient(rgb(125, 197, 238), rgb(0, 140, 221) 85%, rgb(48, 162, 228));
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: relative;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
    border-radius: 4px;
    margin-bottom: 5vh;
    margin-right: 0vh;
    margin-left: 24vh;
    margin-top: -9vh;
}

#purchase {
    margin-left: 2.5vh;
}