
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');


h1 {
    font-family: 'Nanum Gothic Coding', monospace;
}

#html{
    padding-top: 2vh;
    height: 400px;
}

#css{
    padding-top: 2vh;
    height: 400px;
}

#java{
    padding-top: 2vh;
    height: 400px;
}
.card-title {
    text-align: center;
}
.card-subtitle {
    text-align: center;
}

.learn {
    display: inline-block;
    border-bottom: 2px solid #fdc743;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.products img {
    width: 100%;
}

.product {
    padding: 40px;
}

.cart-button {
    font-size: 20px;
    padding: 10px;
}


