.logo {
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 17vh;
}

.navbar-nav {
    font-size: 16px;
}

.navbar {
    height: 12vh;

}

.nav-link {
    color: black;
    font-size: 18px;
}

.nav-pills .show>.nav-link {
    background-color: #212d29;
}
